server:
  port: 9000

spring:
  profiles:
    active: dev
  application:
    name: customer-service
  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    config:
      username: admin
      password: admin
      fail-fast: false



#  datasource:
#    url: jdbc:postgresql://localhost:5432/postgres
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver
##
##
#  jpa:
#    hibernate:
#      ddl-auto: create-drop
#    generate-ddl: true
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: http://localhost:8080/realms/dmc


